body{
	margin:0px;
}

.wrapper {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
}

#column1{
	min-width: 100px;
	width: 100px;
	height: 100vh;
	background: #000000;
}

#column2{
	width: 50%;
	background: #FFE936;
}

#column3{
	width: 50%;
	background: #FF0F21;
}