body {
	margin: 0px;
}

.wrapper {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
}

.column:first-child {
	flex: 0 0 100px;
}

.column:not(:first-child) {
	flex: auto;
}

.black {
	background: #000000;
}

.yellow {
	background: #FFE936;
}

.red {
	background: #FF0F21;
}